<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Cryptocurrency Tracker</title>
  <!-- Mobile Specific Meta
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png" />
  <!-- CSS
  ================================================== -->
  <!-- bootstrap.min css -->
  <!-- <link rel="stylesheet" href="/assets/plugins/bootstrap/dist/css/bootstrap.min.css"> -->
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body id="body">
  <!-- Start Preloader -->
    <div id="preloader">
      <div class="preloader">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>
    <!--
    End Preloader
    ==================================== -->
    <!-- Fixed Navigation -->
    <section class="header  navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar navbar-expand-md">
              <a class="navbar-brand" href="index.html"><img src="/assets/images/cryptocurrency-tracker-logo.png" alt="" width="150px"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="tf-ion-android-menu"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="login.html">Sign In</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </section>

		{{{ body }}}

    <footer id="footer" class="bg-one">
      <div class="top-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2>Open account for free and start trading Bitcoins!</h2>
              <br>
              <a href="" class="btn btn-main">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Custom js -->
<script src="/assets/js/script.js"></script>
    <!-- Scripts -->
    <!-- Main jQuery -->
    <!-- <script src="/assets/plugins/jquery/dist/jquery.min.js"></script> -->
    <!-- Bootstrap 3.7 -->
    <!-- <script src="/assets/plugins/bootstrap/dist/js/popper.min.js"></script> -->
    <!-- <script src="/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script> -->

  </body>

  </html>
