<!-- Subpage Banner -->
<section class="subpage">
   <div class="container">
      <div class="row">
        <div class="col-span-12 text-center">
         <h1 style="subpage-heading">Dashboard</h1>
       </div>
      </div>
   </div>
</section>

<div class="container sub-container-divider">
   <div class="row">
      <div class="col-12">
         <h2>Welcome [ USER ]!</h2>
         <h3>****** DISPLAY USER TABLE HERE ******</h3>
         <a href="/"><button  id='logout' class="float-left submit-button">Logout</button></a>
      </div>
   </div>
</div>
