<div class="container sub-container-divider">
  <div class="row">
    <div class="col-12">
      <h1>User Page</h1>
      <h2>Dashboard</h2>
      <h5>Hurray! you are logged in.</h5>
      <button onclick='/logout' id='logout' class="float-left submit-button">Logout</button>
    </div>
  </div>
</div>
