<!-- HERO! -->
<section class="hero-area">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-12 col-sm-12 text-center">
            <img class="hero-image" src="/assets/images/cct-hero.jpg">
         </div>
         <!-- REGISTRATION FORM -->
         <div class="col-lg-6 col-md-12 col-sm-12 registration-form">
            <div class="block text-center">
               <h2 class="text-center">Create Your Account</h2>
               <form class="text-left clearfix mt-30" action="index.html">
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="First Name">
                  </div>
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Last Name">
                  </div>
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Username">
                  </div>
                  <div class="form-group">
                     <input type="email" class="form-control" placeholder="Email">
                  </div>
                  <div class="form-group">
                     <input type="password" class="form-control" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-main text-center">Sign In</button>
               </form>
               <p class="mt-20">Already hava an account ?<a href="/login"> Login</a></p>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- info -->
<section class="counter section-sm">
   <div class="container">
      <div class="row">
         <div class="col-12 col-md-3 col-sm-6">
            <div class="counters-item">
               <span>$50B+</span>
               <p>Bitcoin Served</p>
            </div>
         </div>
         <div class="col-12 col-md-3 col-sm-6">
            <div class="counters-item">
               <span>10M+</span>
               <p>Server Build</p>
            </div>
         </div>
         <div class="col-12 col-md-3 col-sm-6">
            <div class="counters-item">
               <span>68</span>
               <p>Countries Supported</p>
            </div>
         </div>
         <div class="col-12 col-md-3 col-sm-6">
            <div class="counters-item kill-border">
               <span>10B</span>
               <p>Active Treades</p>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Tracker Info -->
<section class="about-2 section bg-gray" id="about">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
            <div class="align-self-center">
               <h2>What is Cryptocurrency?</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae deleniti ipsa labore necessitatibus culpa veritatis quo accusantium, neque enim ea ad eaque iure, quas tempore velit, quibusdam dolor illo! Explicabo.</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quisquam maiores iste soluta, nihil dolorem?</p>
               <a href="#" class="btn btn-main">Join Now!</a>
            </div>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-12">
            <iframe style="width: 100%; margin:50px 0 50px 0;" width="560" height="315" src="https://www.youtube.com/embed/GWKl6efhokg?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
         </div>
      </div>
</section>
<!-- Start Our Team -->
<section class="team section" id="team">
   <div class="container">
      <div class="row">
         <div class="col">
            <div class="title text-center">
               <h4>CC TRACKER TEAM</h4>
               <h2>The Developers</h2>
               <span class="border"></span>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-12 col-md-3 col-sm-6 ">
            <div class="team-member text-center">
               <div class="member-photo">
                  <img class="img-fluid" src="/assets/images/alex.jpg" alt="alex">
               </div>
               <div class="member-content">
                  <h3>Alex</h3>
                  <span>Lorem Ipsum</span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
               </div>
            </div>
         </div>
         <div class="col-12 col-md-3 col-sm-6 ">
            <div class="team-member text-center">
               <div class="member-photo">
                  <img class="img-fluid" src="/assets/images/batlie.jpg" alt="batlie">
               </div>
               <div class="member-content">
                  <h3>Batlie</h3>
                  <span>Lorem Ipsum</span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
               </div>
            </div>
         </div>


         <div class="col-12 col-md-3 col-sm-6 ">
            <div class="team-member text-center">
               <div class="member-photo">
                  <img class="img-fluid" src="/assets/images/jenn.jpg" alt="jenn">
               </div>
               <div class="member-content">
                  <h3>Jenn</h3>
                  <span>Lorem Ipsum</span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
               </div>
            </div>
         </div>
         <div class="col-12 col-md-3 col-sm-6 ">
            <div class="team-member text-center">
               <div class="member-photo">
                  <img class="img-fluid" src="/assets/images/fernando.jpg" alt="fernando">
               </div>
               <div class="member-content">
                  <h3>Fernando</h3>
                  <span>Lorem Ipsum</span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
